* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #cbf0ff;
    /* overflow: hidden; */
    display: flex;
}
#mapsContainer {
    --tile-scale: 13;
    --tile-offset: 0px * var(--tile-scale); /* default 0.4px */
    --tile-size: 162px;
    position: absolute;
    left: 50%;
    top: 25%;
    scale: 1;
    transition: scale 0.3s ease-in-out;
}

.mapLayer {
    display: block;
    position: absolute;
    transform: rotateX(60deg) rotateZ(45deg);
}
.mapLayer > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.tile {
    /* border: 1px solid red;
    background-color: #f775; */
    /* mouse fix x:y 0px-32px */
    --offset-cursor: 0 0;
    transform: translate3d(0em, 0em, 0em);
    width: 3.5em;
    height: 3.5em;
    transition: all 1s cubic-bezier(0.22, 0.6, 0.39, 1.42);
}
.tile:hover {
    opacity: 0.5;
}
.tile.hide {
    transform: translate3d(20em, 20em, 0em);
    opacity: 0;
    transition: all 1s cubic-bezier(0.7, -0.4, 0.88, 0.51);
}

.tile > div {
    transform: rotateZ(-45deg) rotateY(-60deg)
        translate3d(-4.1em, -3.3em, -3.1em);
    width: 10em;
    height: 12em;
    background-size: calc(100% * var(--tile-scale)) 100%;
    /* default sprite */
    /* http://img14.deviantart.net/f99b/i/2011/354/d/5/isometric_new_tiles_by_spasquini-d4jnp2i.png */
    background-image: url(./tiles-solid.png);
    background-position: -6px 0px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    cursor: url("./axe-cursor.png") var(--offset-cursor), pointer;
    transition: height;
    transition-delay: 0;
}
.tile.hide > div {
    height: 0;
    transition-delay: 1s;
}
.tile > div.tile-0 {
    background-position: calc(var(--tile-offset) - (var(--tile-size) * 0)) 0px;
}

.tile > div.tile-1 {
    background-position: calc(var(--tile-offset) - (var(--tile-size) * 1)) 0px;
}

.tile > div.tile-2 {
    background-position: calc(var(--tile-offset) - (var(--tile-size) * 2)) 0px;
}

.tile > div.tile-3 {
    background-position: calc(var(--tile-offset) - (var(--tile-size) * 3)) 0px;
}

.tile > div.tile-4 {
    background-position: calc(var(--tile-offset) - (var(--tile-size) * 4)) 0px;
}

.tile > div.tile-5 {
    background-position: calc(var(--tile-offset) - (var(--tile-size) * 5)) 0px;
}

.tile > div.tile-6 {
    background-position: calc(var(--tile-offset) - (var(--tile-size) * 6)) 0px;
}

.tile > div.tile-7 {
    background-position: calc(var(--tile-offset) - (var(--tile-size) * 7)) 0px;
}

.tile > div.tile-8 {
    background-position: calc(var(--tile-offset) - (var(--tile-size) * 8)) 0px;
}

.tile > div.tile-9 {
    background-position: calc(var(--tile-offset) - (var(--tile-size) * 9)) 0px;
}

.tile > div.tile-10 {
    background-position: calc(var(--tile-offset) - (var(--tile-size) * 10)) 0px;
}

.tile > div.tile-11 {
    background-position: calc(var(--tile-offset) - (var(--tile-size) * 11)) 0px;
}

.tile > div.tile-12 {
    background-position: calc(var(--tile-offset) - (var(--tile-size) * 12)) 0px;
}

.tile > div.tile-13 {
    background-position: calc(var(--tile-offset) - (var(--tile-size) * 13)) 0px;
}

.tile > div.tile-14 {
    background-position: calc(var(--tile-offset) - (var(--tile-size) * 14)) 0px;
}

.tile > div.tile-15 {
    background-position: calc(var(--tile-offset) - (var(--tile-size) * 15)) 0px;
}

/* Animations */

@keyframes showTile {
    from {
        transform: translate3d(12em, 12em, 0em);
        opacity: 0;
    }

    to {
        transform: translate3d(0em, 0em, 0em);
        opacity: 1;
    }
}

@keyframes hideTile {
    from {
        transform: translate3d(0em, 0em, 0em);
        opacity: 1;
    }

    to {
        transform: translate3d(12em, 12em, 0em);
        opacity: 0;
    }
}
